<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Please Enter the required Details</h6>
                </div>
                <form [formGroup]="registrationForm" (ngSubmit)="registration()">
                                         
                      <div class="form-group">
                        <label for="exampleInputPassword1">Full Name</label>
                        <input type="text" class="form-control" placeholder="Full Name" formControlName="name">
                        <span class="text-danger" *ngIf="registrationForm.controls['name'].dirty && registrationForm.hasError('required','name') ">Name Required</span>
                      </div>

                      
                      <div class="form-group">
                        <label for="exampleInputPassword1">Number</label>
                        <input type="nmber" class="form-control" placeholder="Phone Num" formControlName="number">
                        <span class="text-danger" *ngIf="registrationForm.controls['number'].dirty && registrationForm.hasError('required','number') ">Number Required</span>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="Enter Id" formControlName="emailid">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <span class="text-danger" *ngIf="registrationForm.controls['emailid'].dirty && registrationForm.hasError('required','emailid') ">EmailID Required</span>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        <span class="text-danger" *ngIf=" registrationForm.controls['password'].dirty && registrationForm.hasError('required','password') ">Password Required</span>
                      </div>
                    
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <a style=" color:#fff;  margin-top:10px" routerLink="/login"> Already have an Account? Click here to Login </a>
            </div>
        </div>
    </div>
</div>

