<router-outlet></router-outlet>


<!-- <div class="container">
    <div class="row">
     <div class="col-md-6">
         <div class="card">
             <div class="texe-center">
                 <h1></h1>
                 <h6></h6>
             </div>
             <form [formGroup]="loginForm">

                 <div class="form-group">
                 <label for="eample Name">Name</label>
                 <input type="text" placeholder="Full Name"  class="form-control"  formControlName="name">
                 <span class="text-danger" *ngIf="loginForm.controls['name'].dirty && loginform.hasError('required', 'name')"></span>
                 </div>

                 <div>
                     <button type="submit" class="btn btn-primary mb-2 margin-top:5px"></button>
                 </div>

             </form>
             

           </div>
         </div>
     </div>


    </div>
</div> -->